@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}
body{

    background-color: white;
}
section,
footer{
    padding: 10px 0;

}
h3{
    font-size: 50px;
}
p{
    color: black;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}

.btn{
    background-color: #249c88;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition: 0.5s;
}
.btn.animate.btn{
    animation: animate-outline  1s ease-out infinite;
}
.btn:hover{
    background-color: #1f8675;
}
@keyframes animate-outline{
    form{
        outline: 0px solid #249c88;
    }
    to{
        outline: 15px solid #4f9bf900;
    }
}

header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    height: 90px;
    padding: 20px 8%;
    position: absolute;
    width: 100%;
}
nav .logo{
    width: 100px;
}
nav ul li{
    text-decoration: none;
    display: inline-block;
    margin-left: 40px;
}
nav ul li a{
    color:  #fff;
    font-size: 17px;
    text-decoration: none;

}
nav ul a:not(.btn):after{
    content: "";
    background-color: white;
    height: 3px;
    width: 0%;
    display: block;
    margin:  0 auto;
    transition: 0.3s;
    
}
nav ul a:hover::after{
    width: 100%;
}
/*video*/

.back-vid{
    position: fixed;
    right: 0;
    bottom: 0;  
    z-index: -1;
    
}
.video-container {
    position: relative;
    height: 100vh; /* Ajuste a altura conforme necessário */
    overflow: hidden;
  }
  
  .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
@media (min-aspect-radio: 16/9)
{
    .back-vid{
        width: auto;
        height: 100%;
    }
}
@media (max-aspect-radio: 16/9)
{
    .back-vid{
        width: auto;
        height: 100%;
    }
}

.banner{
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;

}


.banner .banner-text {
    margin: 0 auto;
    text-align: center;
    padding:  243px;
    
}
.banner .banner-text h1{
    font-size: 160px;
    color: #fff;
    font-weight: 600;
    
}
.banner .banner-text button{
    font-size: 24px;
    color: #fff;
    padding: 14px 70px;
    text-decoration: none;
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 50px;
    margin-top: 20px;
    background-color: transparent;
    cursor: pointer;
}

/*faca mais*/
.faca-mais {
    display:  flex;
    align-items: center;

    padding: 50px 70px;
    height: 500px;

    background-image: url("../img/download.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
    background-color: #1f8675;
}

.faca-mais .faca-mais-text{
    width: 100%;
    padding: 0 40px;
    
}
.faca-mais .faca-mais-text h3{
    font-size: 56px;
    text-align: center;
    color: white;
}
.faca-mais .faca-mais-text p{
    margin:5px  0 10px 0;
    text-align: center;
    color: white;
}



/*footer*/
.footer{
    background-color: #249c88;
    text-align: center;
    
}
.footer i{
    color: white;
    font-size: 25px;
    padding: 10px;
    margin: 3px;
    border-radius: 10px;
    
}
.footer p{
    margin-top: 10px;
    color: white;
    align-items: center;
}
.footer .legal-menu{
    
    align-items: center;
}
.menu-open{
    color: white;
    cursor: pointer;
    font-size: 20px;
    display: none;
}
.menu-close{
    display: none;
    font-size: 30px;
    color: white;
}
@media(max-width: 830px){
    
      
        .scroll-down{
            right: 3%;
            transition: .2s;
        }   
        .banner .banner-text h1{
            font-size: 70px;
        }
        .banner .banner-text button{
            font-size: 20px;
        }
        .footer i{
            font-size: 20px;
            padding: 5px;
        }
        .footer .legal-menu{
            font-size: 12px;
            align-items: center;
        }
        .footer .legal-menu a{
            font-size: 12px;
        }
}



@media(max-width: 830px){
   
    /*Menu mobile*/
   .ul{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1f8675;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    clip-path: circle(0% at 100% 0);
    transition: 0.7s;
   }
   .ul.open{
    clip-path: circle(141.4% at 100% 0);
   }
   .ul a{
    margin: 10px 0;
    font-size: 16px;
   }
   nav .menu-open{
    display: block;
   }
   nav .menu-close{
    cursor: pointer;
        display: block;
        position: absolute;
        top: 46px;
        right: 28px;
   }
   .ease-in-out {
    animation-name: ease-in-out;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    height: 80px;
    }
}

/*Pagina home responsivo*/
.faca-mais .faca-mais-text{
    margin-top: 10px;
    padding: 0 20px;
    order: 1;
}

/*Empresa*/
.empresa{
    width: 100%;
    background-color: #249c88;
    padding: 64px 0;
    display:inline-block;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.container-empresa a:first-of-type {
    padding-right: 2.5%;
}
.container-empresa p:last-of-type {
    padding-left: 2.5%;
}
.container-empresa a {
    /* width: 50%; */
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-basis: 255px;
    -ms-flex-preferred-size: 255px;
    flex-basis: 255px;
}
.container-empresa {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
}
a {
    font-size: 1em;
    line-height: 1.7rem;
    font-weight: 300;
    margin-top: 2em;
}

a {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.empresa h2 {
    margin-left: 10%;
}
h2 {
    font-size: 1.3em;
    line-height: 1.7rem;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
}

h2 {
    display: block;
    font-size: 30px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.legal-menu {
    margin: 0 10%;
    width: 80%;
    padding-top: 0;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    font-size: 14px;
    color: #fff;
    flex-wrap: wrap;
    gap: 10px;
}
.legal-menu a {
    color: #fff;
    font-size: 14px;
}
#menu {
    position: fixed;
    top: 0;
    width: 100%;
    transition: opacity 0.5s ease-in-out;

  }
 
  @keyframes ease-in-out {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .ease-in-out {
    animation-name: ease-in-out;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    height: 80px;
  }
  
  .hidden {
    opacity: 1;
    transition: opacity 0.5s ease;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    background-image: url("caminho/para/sua/imagem.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
  }
  element.style {
    height: 40px;
}
.fade-in {
    opacity: 0;
    
  }
  
  .fade-in.active {
    opacity: 1;
  }